* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: lightblue;
}
.playground {
  position: relative;
  height: 500px;
  width: 500px;
  margin: auto;
}
@media screen and (max-width: 600px) {
  .playground {
    position: relative;
    width: 400px;
    margin: 100px auto;
  }
}
